<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planets List</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="div-background-list-planets">
        {{#each planets}}
        <div class="div-planet-single-list">
            <h1 class="planet-heading">{{this.name}}</h1>
            <img class="planet-img" src="{{this.image}}"/>
            <p class="planet-description">{{this.description}}</p>
        </div>
        {{/each}}
    </div>
</body>
</html>