<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search For Beers</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
    <div class="div-search-beers">
        <form action="/searched-beer" method="GET">
            <input type="text" name="beer" placeholder="Search for beers">
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>