<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://images.complex.com/complex/images/c_scale,f_auto,q_auto,w_1920/fl_lossy,pg_1/utgfcacoxl6hwd2bj2ay/10-most-influential-nba-players-2022-original-nonw?fimg-ssr-default" alt="NBA players">
        <div class="card-body">
          <h5 class="card-title">Players</h5>
          <p class="card-text">Check the top NBA players, according to Ironhack Curriculum staff.</p>
          <a href="/players" class="btn btn-primary">See Players</a>
        </div>
      </div>
    </div>
  </div>
</div>